@page
@model EasyMind.Pages.Bookings.DeleteModel

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Booking.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Booking.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Booking.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Booking.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Booking.StartTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Booking.StartTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Booking.Amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Booking.Amount)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Booking.BookingId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
