@page
@model EasyMind.Pages.Profiles.Availability.DetailsModel

<div>
    <h4>ProfileAvailability</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProfileAvailability.Day1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfileAvailability.Day1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProfileAvailability.Day2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfileAvailability.Day2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProfileAvailability.Day3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfileAvailability.Day3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProfileAvailability.Day4)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfileAvailability.Day4)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProfileAvailability.Day5)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfileAvailability.Day5)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProfileAvailability.Day6)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfileAvailability.Day6)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProfileAvailability.Day7)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfileAvailability.Day7)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProfileAvailability.Day1ST)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfileAvailability.Day1ST)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProfileAvailability.Day1ET)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfileAvailability.Day1ET)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProfileAvailability.Day1ST1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfileAvailability.Day1ST1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProfileAvailability.Day1ET1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfileAvailability.Day1ET1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProfileAvailability.Day2ST)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfileAvailability.Day2ST)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProfileAvailability.Day2ET)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfileAvailability.Day2ET)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProfileAvailability.Day2ST1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfileAvailability.Day2ST1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProfileAvailability.Day2ET1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfileAvailability.Day2ET1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProfileAvailability.Day3ST)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfileAvailability.Day3ST)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProfileAvailability.Day3ET)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfileAvailability.Day3ET)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProfileAvailability.Day3ST1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfileAvailability.Day3ST1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProfileAvailability.Day3ET1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfileAvailability.Day3ET1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProfileAvailability.Day4ST)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfileAvailability.Day4ST)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProfileAvailability.Day4ET)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfileAvailability.Day4ET)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProfileAvailability.Day4ST1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfileAvailability.Day4ST1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProfileAvailability.Day4ET1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfileAvailability.Day4ET1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProfileAvailability.Day5ST)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfileAvailability.Day5ST)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProfileAvailability.Day5ET)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfileAvailability.Day5ET)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProfileAvailability.Day5ST1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfileAvailability.Day5ST1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProfileAvailability.Day5ET1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfileAvailability.Day5ET1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProfileAvailability.Day6ST)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfileAvailability.Day6ST)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProfileAvailability.Day6ET)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfileAvailability.Day6ET)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProfileAvailability.Day6ST1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfileAvailability.Day6ST1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProfileAvailability.Day6ET1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfileAvailability.Day6ET1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProfileAvailability.Day7ST)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfileAvailability.Day7ST)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProfileAvailability.Day7ET)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfileAvailability.Day7ET)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProfileAvailability.Day7ST1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfileAvailability.Day7ST1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProfileAvailability.Day7ET1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfileAvailability.Day7ET1)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ProfileAvailability.ProAId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
